{% comment %} {% extends 'base.html' %} {% endcomment %}

{% block content %}
  <style media="screen">
      		* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
     background-image: url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600&q=80");
}

.container {
	margin: 50px auto;
	width: 400px;
	background-color: gray;
	padding: 20px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	border-radius: 5px;

}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 5px;
}

form input {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	background-color: #f2f2f2;
}

form input[type="submit"] {
	background-color: #008CBA;
	color: #fff;
	cursor: pointer;
}

form input[type="submit"]:hover {
	background-color: #005f78;
}

  </style>
    <div class="container">
  <h1>Signup</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="username">User name:</label>
        <input type="text" id="username" placeholder="Enter Username" name="username"><br>
        <label>Password:</label>
        <input type="password" placeholder="Enter password "name="password1"><br>
        <input type="password" placeholder="Confirm password "name="password2"><br>
        <label for="profile_picture">Profile picture:</label>
        <input type="file" id="profile_picture" name="profile_picture"><br>
        <input type="submit" value="Signup">
        <h4>Already have an account?<a class="nav-link" href="/login">Login</a></h4>
    </form>
    </div>
{% endblock %}
